@font-face {
  font-family: 'AncientModernTales-a7Po';
  src: local('AncientModernTales-a7Po'), url("./fonts/ancient-modern-tales-font/AncientModernTales-a7Po.ttf") format("truetype")
}

.App {
  background-color: #181c23;
  background-image: url('assets/images/bg-top.png');
  font-family: 'AncientModernTales-a7Po';
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}